<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%block title%}Igor Chibilyaev's Portfolio{%endblock%}</title>
  <meta name="description" content="Igor Chibilyaev's Portfolio">
  <meta name="author" content="Igor Chibilyaev">
  <link rel="stylesheet" href="/static/styles.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23564460-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  {%block body %}
   Hello
  {%endblock%}
</body>
</html>