<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%block title%}Igor Chibilyaev's Portfolio{%endblock%}</title>
  <meta name="description" content="Igor Chibilyaev's Portfolio">
  <meta name="author" content="Igor Chibilyaev">
  <link rel="stylesheet" href="/static/styles.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  {%block body %}
        <div styl="font-size:30px;">Igor Chibilyaev</div>
		{% load flatpages %}
		{% get_flatpages as flatpages %}
		<ul>
		    {% for page in flatpages %}
		        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
		    {% endfor %}
		</ul>
  {%endblock%}
</body>
</html>