<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%block title%}Igor Chibilyaev's Portfolio{%endblock%}</title>
  <meta name="description" content="Igor Chibilyaev's Portfolio">
  <meta name="author" content="Igor Chibilyaev">
  <link rel="stylesheet" href="/static/styles.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  {%block body %}
  <div class="container">
  	    <div class="right_main"><img src='/static/images/emptypng.png'></div>

  	    <div class='left_main'>
	        <div><img src='/static/images/title.png'></div>
			{% load flatpages %}
			{% get_flatpages as flatpages %}
			<ul class="menu">
				<li><a href="/illystration/">Illystration</a></li> &#183;
				<li><a href="/storyboard/">Storyboard</a></li> &#183;
				<li><a href="/character_design/">Character Design</a></li>
			    {% for page in flatpages %}
			         &#183;
			        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
			    {% endfor %}
			</ul>
		</div>
  </div>
  {%endblock%}
</body>
</html>