body a{
	color: black;
	font-size: 14px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-style: normal;
	text-decoration: none;
}

/*body a:hover{
	color: black;
	font-size: 14px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-style: normal;
	text-decoration: underline;
}*/

#about {
    width:1028px;
}
#loader{
	position: absolute;
	z-index: 999;
	margin-left:15px;
	margin-top:15px;

}
.nav_dot{
	padding-right:20px;
	padding-top:15px;
}

.loading_place {
	position: absolute;
	margin-top:100;
	display: block;
	top:50px;
	left:50%;
}

table tr td {
    padding:0px 10px 0px 0px;
	font-size: 12px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	line-height:190%;
}
​

.menu {
 display: block;
 margin-top: 15px;
}

ul.menu li{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}


.container{
	margin-top:200px;
	width:1100px;
	height:200px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.container.gallery {
	margin-top:150px;
}

.right_main {
	position: relative;
	display: block;
	top:-10px;
	float:left;
	padding-right:30px;
	width:78px;
	height:116px;
}

#original {
	width:830px;
	height:630px;
}

.image_big {
	display: block;
	max-width:830px;
	max-height: 630px;
	margin-left: auto;
    margin-right: auto;
}

/*#container {
	margin-top:300px;
	width:900px;
	height:200px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}*/

#thumb_container {
	display: inline;
	float: left;
	margin-right:10px;
	position:relative;
	height:650px;
}

#original {
	display: inline;
	float: left;
}

.title {
	padding-bottom:30px;
}

.thumb_list {
	width:200px;
	height:400px;
	word-spacing:0px;
}

.thumb {
	display: inline;
}

.bottom_menu {
	position: absolute;
	bottom:0;
	color: white;
}

.bottom_menu a {
	color: white;
	font-size:12px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-style:normal;
	text-decoration:none;
}
.bottom_menu ul{
	padding:0;
    list-style-type: none;
    list-style-image: url(/static/images/dot.png); 
}
.bottom_menu li {
  margin-top:10px;
}

.page_title {
  margin-bottom:25px;
}
.page_image{
    margin-bottom:45px;
}

.image_thumb{
	float: left;
	cursor: pointer;
	padding: 3px;
	display: block-inline;
	vertical-align: middle;
}
