{% extends "base.html" %}
{% load thumbnail %}

{%block title%}
	{{ flatpage.title }}
{%endblock%}


{%block body%}
    <style>
     .container {
     	margin-top:130px;
     }

     .bottom_menu a{
          color: #4b4b4b;
     }
     .bottom_menu ul{
	    list-style-image: url(/static/images/gray_dot.png); 
     }
    </style>
    <div class="container">
	    <div class="page_title">
	    {%ifequal flatpage.title "About"%}
	        <img src="{{STATIC_URL}}images/about_big.png">
	    {%endifequal%}
	    {%ifequal flatpage.title "Contact"%}
	         <img src="{{STATIC_URL}}images/contact_big.png">
	    {%endifequal%}
	    </div>
	    <div class="page_image">
		    {% thumbnail flatpage.image "90x135" crop="center" as im %}
		        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			{% endthumbnail %}
		</div>
        <div class="page_content">{{flatpage.content|safe}}</div>
        <!-- BOTTOM_MENU_GO_HERE-->
		<div class="bottom_menu">
	 			<ul>
	 				<li><a href="/">Home</a></li>
					<li><a href="/illustration/">Illustration</a></li>
					<li><a href="/storyboard/">Storyboard</a></li>
					<li><a href="/character_design/">Character Design</a></li>
			       {%ifequal flatpage.title "About"%}
					<li><a href="/contact/">Contact</a></li>
	                {%endifequal%}
	                {%ifequal flatpage.title "Contact"%}
					<li><a href="/about/">About</a></li>
	                {%endifequal%}
				</ul>
		</div>
    </div>
{%endblock%}